<div class="row" id="main-content">

  <div class="col-md-5">
    <h2 style="margin-top:0">Review Pending Club</h2> 
  </div>

  <div class="col-md-12"></div>


	<div class="col-md-6">		
		<h4><em>Club Information</em></h4>
		<%= render partial: 'clubs/new_club_rego_display', object: @club, as: :club %>
		
		<h4><em>Club Moderators</em></h4>
		<table class="table table striped">
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Email</th>
			</tr>
			<%= render partial: "admins/moderator_table", collection: @club.moderators, as: :moderator %>
		</table>

		<h4><em>Club Images</em></h4>
		<div class="clearfix" style="margin-bottom: 20px">
			<div class="col-md-4">
				<img src="http://placehold.it/200x200" width="100%">
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/200x200" width="100%">
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/200x200" width="100%">
			</div>
		</div>
		<div class="col-md-4">
		<%= link_to "Back", admins_dashboard_path, class: "btn btn-default btn-block" %>
		</div>
		<div class="col-md-4">
			<%= form_for @club do |f| %>
				<%= f.hidden_field :status, :value => "rejected" %>
				<%= f.submit "Reject", :class => "btn btn-warning btn-block" %>
			<% end %>
		</div>
		<div class="col-md-4">
			<%= form_for @club do |f| %>
				<%= f.hidden_field :status, :value => "active" %>
				<%= f.submit "Activate", :class => "btn btn-success btn-block" %>
			<% end %>
		</div>
	</div>
</div>
