<p id="notice"><%= notice %></p>

<p>
  <strong>Hosting Club:</strong>
  <% @event.clubs.each do |club| %><%= club.club_name %><% end %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<% club = Club.find(@event.shared_events.where(role: "owner").first.club_id), class: "btn btn-default" %>
<%= link_to '(M) Edit Event', edit_event_path(@event, :club_id => club.id), class: "btn btn-default" %>
<%= link_to '(M) Destroy Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<%= link_to 'Back To Club', club, class: "btn btn-default" %>
