<div class="row" id="main-content">
  <div class="col-md-5 pull-right">
    <%= render "shared/search_all" %>
  </div>

  <div class="col-md-7">
    <h2 style="margin-top:0">Welcome Back</h2> 
  </div>

  <div class="col-md-12"></div>

  <div class="col-md-5 text-left pull-right"> 

    <div id="featured_events_carousel" class="carousel slide well" data-ride="carousel">

      <div class="carousel-inner">

        <div class="item active">
          <img class="pull-right" src="http://placehold.it/200x150"/>
          <p>
            <strong>Featured Event</strong><br>
            <small>7:00am South Lawn<br>28/7/12<br>Cold Hands Club<br></small><br>This event will get you going with hell-o-a-lot of handshaking opertunities. So get those handshaking gloves out
          </p>
        </div>

        <div class="item">
          <img class="pull-right" src="http://placehold.it/200x150" />
          <p>
            <strong>Featured Event</strong><br>
            <small>7:00am South Lawn<br>28/7/12<br>Cold Hands Club<br></small><br>This event will get you going with hell-o-a-lot of handshaking opertunities. So get those handshaking gloves out
          </p>
        </div>

        <div class="item">
          <img class="pull-right" src="http://placehold.it/200x150" />
          <p>
            <strong>Featured Event</strong><br>
            <small>7:00am South Lawn<br>28/7/12<br>Cold Hands Club<br></small><br>This event will get you going with hell-o-a-lot of handshaking opertunities. So get those handshaking gloves out
          </p>
        </div>



      </div>

    </div>

  </div>


  <div class="col-md-7">

    <h2>
      Upcoming Events
      <div class="dropdown small pull-right">
        <a data-toggle="dropdown" href="#" style="color: #000">Filter <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#">Date</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">Free Stuff</a></li>
        </ul>
      </div>
    </h2>

    <%= render partial: "events/listall_cb", object: @events, as: :events %>

    <div class="row text-center">
      <br><%= link_to "Find more events", events_path, class: "btn btn-default" %>
    </div>

  </div>


  <div class="col-md-5">
    
    <% if signed_in? %>
      <h3><em>My Tickets</em></h3>
    
      <%= render partial: "tickets/listall_cb", object: @user %>
    
      <h3><em>My Club News</em></h3>

      <%= render partial: "club_comments/listall_cb", object: @my_news, as: :comments %>
    <% end %>
  </div>
</div>