<div class="row" id="main-content">
	
	<div class="col-md-10">
		<h2>Search</h2>
		<%= form_tag(search_path, :method => 'get', id: 'search_form') do %>
			<%= text_field_tag :q, params[:q], placeholder: "Seach Clubs and Events" %>
			<%= submit_tag "Search", :name => nil %>
		<% end %>
	</div>
	<div class="col-md-5">
		<h3><em>Clubs</em></h3>
		<%= render @clubs || "There are no matches in clubs" %>
	</div>
	<div class="col-md-5">
		<h3><em>Events</em></h3>
		<%= render @events || "There are no matches in events" %>
	</div>

</div>
