<div class="row well">
	<div id="featured_events">
	  <div class="">
	    <img class="pull-right" src="http://placehold.it/250x150"/>
	    <p>
	      <strong>Next Event</strong><br>
	      <small>
	      	<strong>Club: </strong><%= event.host_club.club_name %><br>
	      	<strong>Event: </strong><%= event.event_name %><br>
	      	<%= event.start_datetime %><br>
	      	<%= event.venue %><br>
	      </small>
	      <%= event.event_description %>
	      <%= link_to "View Event", event_path(event), class: "btn btn-default btn-xs" %>
	    </p>
	  </div>
	</div>
</div>