<p id="notice"><%= notice %></p>

<p>
  <strong>Hosting Club:</strong>
  <% @event.clubs.each do |club| %><%= club.club_name %><% end %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @event.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @event.end_datetime %>
</p>

<p>
  <strong>External url:</strong>
  <%= @event.external_url %>
</p>

<p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ticket_type</th>
        <th>ticket_cost</th>
        <th>end_sale_date</th>
        <th>quantity</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @event.tickets.empty? %>
        <tr>
          <td align="center" colspan="5">There are no tickets for this event</td>
        </tr>
      <% else %>
        <% @event.tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.ticket_type, ticket_path(ticket) %></td>
            <td><%= ticket.ticket_cost %></td>
            <td><%= ticket.end_sale_datetime %></td>
            <td><%= ticket.quantity %></td>
            <td><%= link_to "(Mem) Purchase Tickets", new_ticket_allocation_path(:ticket_id => ticket.id)%></td>
          </tr>
        <% end %>
      <% end %>
        <tr>
          <td colspan="6" align="center"><%= link_to "Add New Ticket", new_ticket_path(:event_id => @event.id) %></td>
        </tr>
    </tbody>
  </table>

</p>

<% club = Club.find(@event.shared_events.where(role: "owner").first.club_id), class: "btn btn-default" %>
<%= link_to '(M) Edit Event', edit_event_path(@event, :club_id => club.id), class: "btn btn-default" %>
<%= link_to '(M) Destroy Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back To Club', club, class: "btn btn-default" %>
