<div class="row" id="main-content">
  <div class="col-md-4 pull-right col-md-pull-2 cb-search-element">
    <%= render "shared/search_all" %>
  </div>



  <div class="col-sm-6 col-md-6">

    <div class="row">
      <div class="col-md-10">
        
        <div class="row">
          
          <img src="http://placehold.it/100x100" class = "pull-left" width="65px">
          <h2> <%= link_to @club.club_name, club_path(@club) %></h2>

          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#details" data-toggle="tab">Event Details</a></li>
            <li><a href="#discussions" data-toggle="tab">Discussions</a></li>
          </ul>

        </div> 

        <div class="tab-content row">
          
          <div class="tab-pane fade in active" id="details">
            
            <div class="col-md-8">
              <h2><%= @event.event_name %></h2>
              <small>
                <%= @event.start_datetime %><br>
                <em>Ad LOC to DB</em><br>
                <%= @event.event_description %>
              </small>
            </div>

            <div class="col-md-4">
              <img src="http://placehold.it/170x170" width="100%">
            </div>

            <% if signed_in? && @event.can_be_modified_by?(current_user) && @event.status == "pending" %>
              <div class="col-md-12 alert alert-warning text-center">
                Your event is currently hidden, 
                <%= form_for @event do |f| %>
                  <%= f.hidden_field :status, :value => "active" %>
                  <%= f.submit "Go Live" %>
                <% end %>
              </div>
            <% end %>

          </div>

          <div class="tab-pane fade" id="discussions">
            <div id="cb-club-comment-wrapper">
                        
              <%= render @event.event_comments %>
              
            </div>
            <% if signed_in? %>
              <%= render partial: "event_comments/form", object: {:event_comment => @event_comment, :current_user => current_user, :event => @event} %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 ">
        <div class ="col-md-12">
          <% if @event.ticketed %>
            <h4>Tickets</h4>
            <% if @event.tickets.current_sale.empty? %>
              <center>This event has not tickets on sale yet,<br>please check back soon</center>
            <% else %>
              <em>RENDER TICKETS</em><br>
              <%= render @event.tickets.current_sale %>
            <% end %>
            <% if signed_in? && @event.can_be_modified_by?(current_user) %>
              <%= form_for @new_ticket do |f| %>
                <%= f.hidden_field :event_id, :value => @event.id %>
                <div class="form-group col-md-6">
                  <%= f.label :ticket_type %>
                  <%= f.text_field :ticket_type, class: "form-control", placeholder: "Ticket type, eg genearl admission" %>
                </div>
                <div class="form-group col-md-4">
                  <%= f.label :ticket_cost %>
                  <%= f.text_field :ticket_cost, class: "form-control", placeholder: "Ticket type, eg genearl admission" %>
                </div>
                <div class="form-group col-md-2">
                  <%= f.label :quantity %>
                  <%= f.text_field :quantity, class: "form-control", placeholder: "Ticket type, eg genearl admission" %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :start_sale_date %>
                  <%= f.text_field :start_sale_datetime, class: "form-control", placeholder: "Click to update" %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :end_sale_date %>
                  <%= f.text_field :end_sale_datetime, class: "form-control", placeholder: "Click to udpate" %>
                </div>
                <%= f.submit "add ticket" %>
              <% end %>
            <% end %>
          <% else %>                
            <h3>Attend</h3>
            <p>
              <a href="#" class="btn btn-primary pull-right" role="button">I'm Going!</a>
              This event is free to attend, just press the button to add a reminder and party your little hearts out
            </p>
          <% end %>
        </div>
        <hr>
        <div class="">
          <% if !@event.associate_clubs.empty? %>
            <hr>
            <h4>Assoicated Clubs</h4>
            <%= render @event.associate_clubs %>
          <% end %>
          <% if signed_in? && @event.can_be_modified_by?(current_user) %>
            <%= render partial: "shared_events/form" %>
          <% end %>
        </div>

      </div>
    </div>

  </div>

  <div class="col-sm-6 col-md-4">

    <%= render partial: "events/featured_event", object: @fevent, as: :event %>

    <div class="row">
      <h2>Events</h2>
      <%= render partial: "events/listall_cb", object: @club_events, as: :events %>
    </div>
  </div>

</div>