<div class="col-md-12 cb-ticket-list-element">
	<div class="col-md-4">
		<strong><%= ticket.event.event_name %></strong><br>
		<%= ticket.event.start_datetime %><br>
		<em>ADD LOC TO EVENT DB</em>
	</div>
	<div class="col-md-6">
		<br>
		<%= ticket.ticket_type%><br>
		<% if ticket.any_remaining? %>
		<strong>Remaining</strong> <%= ticket.quantity - ticket.no_reserved %>
		<%= link_to "Reserve Tickets", new_ticket_allocation_path(ticket), class: "btn btn-default btn-sm" %>
		<% else %>
			<strong>Sold Out</strong>
		<% end %>
	</div>
	<div class="col-md-2 text-right">
		<b class="caret"></b>
	</div>
</div>
