<p id="notice"><%= notice %></p>

<p>
  <strong>Hosting event_name:</strong>
  <%= @ticket.event.event_name %>
</p>

<p>
  <strong>ticket_type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>ticket_cost:</strong>
  <%= @ticket.ticket_cost %>
</p>

<p>
  <strong>start_sale_satetime:</strong>
  <%= @ticket.start_sale_datetime %>
</p>

<p>
  <strong>end_sale_datetime:</strong>
  <%= @ticket.end_sale_datetime %>
</p>

<p>
  <strong>quantity</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong><%= link_to "(Mem) Purchase Tickets", new_ticket_allocation_path(:ticket_id => @ticket.id)%></strong>
</p>

<%= link_to '(M) Edit Ticket', edit_ticket_path(:id => @ticket.id) %> |
<%= link_to '(M) Delete Ticket', @ticket, method: :delete, data: { confirm: 'Are you sure?' }%> |
<%= link_to 'Back To Event', event_path(@ticket.event) %>
