	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Notifications", current_user %></li>
	<li><%= link_to "My Clubs", current_user %></li>
	<li><%= link_to "Search Clubs", search_path %></a></li>
	<li><%= link_to "Register your Club", new_club_path %></li>
	<li><%= link_to "My Settings", user_path(current_user) %></li>
	<li><%= link_to "About Us", about_path %></li>