<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :club_name %><br>
    <%= f.text_field :club_name %>
  </div>
  <div class="field">
    <%= f.label :club_descrption %><br>
    <%= f.text_field :club_descrption %>
  </div>
  <div class="field">
    <%= f.label :club_website %><br>
    <%= f.text_field :club_website %>
  </div>
  <div class="field">
    <%= f.label :rego_number %><br>
    <%= f.text_field :rego_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
