<h1>Listing clubs</h1>

<table>
  <thead>
    <tr>
      <th>Clunname</th>
      <th>Clubdescription</th>
      <th>Clubwebsite</th>
      <th>Regonumber</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.clunName %></td>
        <td><%= club.clubDescription %></td>
        <td><%= club.clubWebsite %></td>
        <td><%= club.regoNumber %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
