<div class="row" id="main-content">
  <div class="col-md-4 col-md-pull-2 pull-right cb-search-element">
    <%= render "shared/search_all" %>
  </div>



  <div class="col-sm-6 col-md-6">

    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <img src="http://placehold.it/100x100" class = "pull-left" width="65px"><h2><%= @club.club_name %></h2>
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
            <li><a href="#discussions" data-toggle="tab">Discussions</a></li>
          </ul>
        </div>  
        <div class="tab-content row">
          <div class="tab-pane fade in active" id="home">
            <div class="col-md-6">
              <p>
                <%= @club.club_description %>
              </p> 
            </div>
            <div class="col-md-6">
              <img src="http://placehold.it/170x170" class = "pull-right">
            </div>
            <div class ="col-md-8">
              <h3>Announcements</h3>
              

              <%= render partial: "clubs/club_comment_display", object: @club %>

            </div>

            <div class ="col-md-4 text-right">
              <h3>Moderator Settings</h3>
              <p><a href="#" class="btn btn-primary" role="button">Click Here</a></p>
            </div>
          </div>

          <div class="tab-pane fade" id="gallery">Images from our club.
            <div class="row">
              <div class="col-xs-6 col-md-4">
                <a href="#" class="">
                 <img src="http://placehold.it/150x150" class = "pull-right"  />
               </a>
             </div>
             <div class="col-xs-6 col-md-4">
              <a href="#" class="">
                <img src="http://placehold.it/150x150" class = "pull-right"/>
              </a>
            </div>
            <div class="col-xs-6 col-md-4">
              <a href="#" class="">
                <img src="http://placehold.it/150x150" class = "pull-right" />
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-md-4">
              <a href="#" class="">
               <img src="http://placehold.it/150x150" class = "pull-right"  />
             </a>
           </div>
           <div class="col-xs-6 col-md-4">
            <a href="#" class="">
              <img src="http://placehold.it/150x150" class = "pull-right" />
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="#" class="">
              <img src="http://placehold.it/150x150" class = "pull-right" />
            </a>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="discussions">
        <div id="cb-club-comment-wrapper">
                    
          <%= render @club_comments %>
          
        </div>
        <% if signed_in? %>
          <%= render partial: "club_comments/form", object: {:new_comment => @new_comment, :current_user => current_user, :club => @club} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 ">
    <hr>
    <div class="">
      <h3>Similar Clubs</h3>
      <div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/75x75" alt="...">
            <div class="caption">
              <h4><center><a href="">Healthy Elbows Clubs</a></center></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/75x75" alt="...">
            <div class="caption">
              <h4><center><a href="">Feet First Club</a></center></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/75x75" alt="...">
            <div class="caption">
              <h4><center><a href="">nose Knows Club</a></center></h4>
            </div>
          </div>
        </div>   
      </div>
    </div>

  </div>
</div>



</div>

<div class="col-sm-6 col-md-4">

  <%= render partial: "events/featured_event", object: @fevent, as: :event %>

  <div class="row">
    <h2>Events</h2>
    <% if @club.events.empty? %>
      <div>No Events</div>
    <% else %>
      <%= render partial: "events/listall_cb", object: @events, as: :events %>
    <% end %>
    <div class="pull-left"><a>add new event</a></div>
  </div>

</div>

</div>