<p id="notice"><%= notice %></p>
<% if signed_in? %>
	<%= link_to "Join Club", new_membership_path(@club), class: "btn btn-success" %>
<% end %>
<p>
  <strong>club_name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>club_description:</strong>
  <%= @club.club_description %>
</p>

<p>
  <strong>club_website:</strong>
  <%= @club.club_website %>
</p>

<p>
  <strong>rego_number:</strong>
  <%= @club.rego_number %>
</p>

<p>
	
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>event_name</th>
	      <th>event_description</th>
	      <th>start_datetime</th>
	      <th>end_datetime</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% if @club.events.empty? %>
		    <tr>
	    		<td align="center" colspan="7">There are no events for this clubs</td>
	    	</tr>
	    <% else %>
	    	<% @club.events.each do |event| %>
		      <tr>
		        <td><%= link_to event.event_name, event %></td>
		        <td><%= event.event_description %></td>
		        <td><%= event.start_datetime %></td>
		        <td><%= event.end_datetime %></td>
		      </tr>
	    	<% end %>
    	<% end %>
		<% if signed_in? %>	
			<tr>
	    		<td align="center" colspan="7"><span class='glyphicon glyphicon-plus'></span><%= link_to " Add new event", new_event_path(@club) %> </td>
	    	</tr>
	    <% end %>
	  </tbody>
	</table>

</p>

<p>
	<%= render "club_comment_display" %>
</p>



<%= link_to '(M) Edit Club', edit_club_path(@club), class: "btn btn-default" %>
<%= link_to '(M) Destroy Club', @club, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<%= link_to 'Back To All Clubs', clubs_path, class: "btn btn-default" %>
