<p id="notice"><%= notice %></p>

<p>
  <strong>club_name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>club_descrption:</strong>
  <%= @club.club_descrption %>
</p>

<p>
  <strong>club_website:</strong>
  <%= @club.club_website %>
</p>

<p>
  <strong>rego_number:</strong>
  <%= @club.rego_number %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
